<%- include('partials/header'); -%>

<header>
  <div>
    <img src="/bibimbap-01.jpg" width="500" alt="" />
  </div>
  <div class="headings">
    <h2>Recipes</h2>
    <a href="/recipes" class="btn">View Recipes</a>
  </div>
</header>
