<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/kimchi-fried-rice.jpg" alt="Kimchi Fried Rice icon" />
    <h4>Kimchi Fried Rice</h4>
    <p>Kimchi, Cooked rice, Eggs, Vegetables (optional)</p>
  </li>
  <li class="recipe">
    <img src="/bibimbap-01.jpg" alt="Bibimbap icon" />
    <h4>Bibimbap</h4>
    <p>
      Gochujang sauce, Rice, Vegetables (bean sprouts, carrots, spinach), Meat
      (optional)
    </p>
  </li>
  <li class="recipe">
    <img src="/japchae.jpg" alt="korean food recipe icon" />
    <h4>Japchae</h4>
    <p>
      Glass noodles, Stir-fried vegetables, Meat (beef or chicken), Sesame oil
    </p>
  </li>
</ul>
